#naviframe {
    font-size: 16px;
    background: rgb(255,255,255);
    height: 3em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
#topnav a {
    color: rgb(0,0,0);
    text-align: center;
    padding: 10px 16px;
    font-size: 20px;
    font-family: "Roboto Mono";
    font-weight: bold;
    transform-origin: center;

    transition: transform 0.1s;
}
.left {
    float: left;
}
.right {
    float: right;
}
#topnav a:hover {
    transform: scale(1.1);

    transition: transform 0.1s;
}
#topnav div a {
    font-size: 16px;
    z-index: 10;

    transition: none;
}
#topnav div a:hover {
    font-size: 16px;

    transition: none;
}
#navindex {
    position: absolute;
    width: 100px;
    left: calc(50% - 50px);
}