#naviframe {
    font-size: 16px;
    background: #fff;
    height: 3em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.nav a {
    color: #000;
    text-align: center;
    padding: 0.5em 20px;
    font-size: 20px;
    font-family: "Roboto Mono";
    font-weight: bold;
    transform-origin: center center;
    display: flex;

    transition: transform 0.1s;
}

.left {
    float: left;
}
.middle {
    position: absolute;
    left: calc(50% - 50px);
}
.right {
    float: right;
}

.nav a:hover {
    transform: scale(1.1);

    transition: transform 0.1s;
}
.nav a:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    min-width: 100px;

    z-index: 999;
    background-color: #fff;
}
.dropdown a {
    display: block;
}
.dropmiddle {
    left: 50%;
    transform: translate(-50%,0);
}
.dropright {
    right: 0;
}

.middle:hover .dropdown {
    display: block;
}
.nav a:hover .dropdown {
    display: block;
}