.nongrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #fff;
    gap: 20px;
    margin: 20px;
}
.nongrid div {
    color: #fff;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
}
.nongrid img {
    cursor: pointer;
    max-width: 100%;
    max-height: 90%;
    margin: auto;
}
.nongrid .fav {
    box-shadow: 0px 0px 20px 10px #8000ff;
    z-index: 1;
}