#nav {
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
#navpadding {
    height: 100px;
}
.bar {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: max-content;
}
#selected {
    position: absolute;
    top: 85px;
    left: calc(22px + var(--selectedOffset));
}
.opts {
    color: #fff;
    width: 849px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
}
.item {
    width: 72px;
    height: 73px;
    padding: 6px 6.5px 6px 6.5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
.item p, .item img {
    font-size: 20px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 45px;
}