#nav {
    font-size: 16px;
    background: #fff;
    height: 2em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    overflow: hidden;
}
#navpadding {
    padding-bottom: 50px;
}
#nav .item {
    text-align: center;
    padding: 0.125em 20px;
    transform-origin: center center;
    display: flex;
    cursor: pointer;
    float: left;

    transition: transform 0.1s;
}
#nav a, #nav p {
    color: #000;
    font-size: 20px;
    font-family: var(--font);
    font-weight: bold;
    
    transition: transform 0.1s;
}
#nav a:hover {
    transform: scale(1.1);

    transition: transform 0.1s;
}
#nav img {
    padding: 0 !important;
    height: 2em;

    transition: transform 0.1s;
}
#nav img:hover {
    transform: scale(1.1);

    transition: transform 0.1s;
}

.arrow {
    padding: 0.125em 5px !important;
    float: right !important;
}
.item:hover .dropdown {
    display: block;
}
.dropdown {
    display: none;
    position: absolute;
    transform: translate(calc(-50% + 20px),1.8em);
    min-width: 80px;
    min-height: 30px;

    z-index: 999;
    background-color: #fff;
}